<div class="container-indent">
  <div class="container">
    <form action="/cart" method="post" novalidate id="updateform">
      <h1 class="tt-title-subpages noborder">{{ 'cart.general.title' | t }}</h1>
      <div class="tt-shopcart-table-02">
        <table>
          <tbody>
            {% assign sf_cart_total = 0 %} {# Initialize cart total #}

            {%- for item in cart.items -%}

              {%- comment -%}Bold:PO 2.0 - Hybrid Input{%- endcomment -%}
              {%- if item.properties._boldBuilderId and item.properties._boldVariantIds == null -%}
                <input
                  type="hidden"
                  name="updates[]"
                  id="updates_{{- item.key -}}"
                  class="bold_hidden_input cart__product-qty"
                  value="{{- item.quantity -}}"
                  min="0"
                  data-id="{{- item.key -}}"
                >
                {%- continue -%}
              {%- endif -%}

              {%- assign inv_man = item.variant.inventory_management -%}
              {%- assign inv_qua = item.variant.inventory_quantity | plus: 0 -%}
              {%- unless inv_man -%}{%- assign inv_qua = 100000 -%}{%- endunless -%}
              {%- if item.variant.available and inv_qua == 0 -%}{%- assign inv_qua = 100000 -%}{%- endif -%}

              {% assign is_state_fair_product = false %}
              {% for collection in item.product.collections %}
                {% if collection.handle == '2025-state-fair-sale' %}
                  {% assign is_state_fair_product = true %}
                {% endif %}
              {% endfor %}

              {% assign state_fair_price = item.product.metafields.custom.state_fair_price %}
              {% assign state_fair_price_cents = state_fair_price | times: 100 %}

              {% if customer and is_state_fair_product and state_fair_price_cents %}
                {% assign sf_line_total = state_fair_price_cents | times: item.quantity %}
              {% else %}
                {% assign sf_line_total = item.line_price %}
              {% endif %}
              {% assign sf_cart_total = sf_cart_total | plus: sf_line_total %}

              <tr>
                <td>
                  <div class="tt-product-img">
                    <img src="{{ item | img_url: 'medium' }}" alt="{{ item.alt | escape }}">
                  </div>
                </td>
                <td>
                  <h2 class="tt-title">
                    <a href="{{ item.url }}">{{ item.product.title }}</a>
                    {%- unless item.variant.title contains 'Default' -%}
                      <p>
                        {%- for option in item.product.options -%}
                          {{ option }}: {{ item.variant.options[forloop.index0] }}<br>
                        {%- endfor -%}
                      </p>
                    {%- endunless -%}
                  </h2>
                  <ul class="tt-list-parameters">
                    <li>
                      <div class="tt-price">
                        <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>
                        {% if customer and is_state_fair_product and state_fair_price_cents %}
                          <span class="price original-price">
                            <s>{{ item.price | money }}</s>
                          </span>
                          <span class="price state-fair-price">
                            {{ state_fair_price | times: 100 | money }}
                          </span>
                        {% else %}
                          <span class="price">{{ item.price | money }}</span>
                        {% endif %}
                      </div>
                    </li>
                    <li>
                      <div class="detach-quantity-mobile"></div>
                    </li>
                    <li>
                      <div class="tt-price subtotal">
                        <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" style="display:none !important;"></span>
                        {% if customer and is_state_fair_product and state_fair_price_cents %}
                          {{ state_fair_price | times: 100 | times: item.quantity | money }}
                        {% else %}
                          {{ item.line_price | money }}
                        {% endif %}
                      </div>
                    </li>
                  </ul>
                </td>
                <td>
                  <div class="tt-price">
                    {% if customer and is_state_fair_product and state_fair_price_cents %}
                      <span class="price original-price">
                        <s>{{ item.price | money }}</s>
                      </span>
                      <span class="price state-fair-price">
                        {{ state_fair_price | times: 100 | money }}
                      </span>
                    {% else %}
                      <span class="price">{{ item.price | money }}</span>
                    {% endif %}
                  </div>
                </td>
                <td>
                  <div class="detach-quantity-desctope">
                    <div class="tt-input-counter style-01 input-counter">
                      <span class="minus-btn"></span>
                      <input
                        type="text"
                        name="updates[]"
                        id="updates_{{ item.id }}"
                        value="{{ item.quantity }}"
                        size="{{ inv_qua }}"
                        title="{% if inv_qua < 100000 %}{{inv_qua}} {{ 'products.product.in_stock' | t }}{% else %}{{ 'products.product.many_in_stock' | t }}{% endif %}"
                      >
                      <span
                        class="plus-btn"
                        title="{% if inv_qua < 100000 %}{{inv_qua}} {{ 'products.product.in_stock' | t }}{% else %}{{ 'products.product.many_in_stock' | t }}{% endif %}"
                      ></span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="tt-price subtotal">
                    {% if customer and is_state_fair_product and state_fair_price_cents %}
                      {{ state_fair_price | times: 100 | times: item.quantity | money }}
                    {% else %}
                      {{ item.line_price | money }}
                    {% endif %}
                  </div>
                </td>
                <td>
                  <a
                    href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
                    class="tt-btn-close svg-icon-delete"
                    title="{{ 'cart.header.button_delete' | t }}"
                  >
                    {% include 'svg-delete-icon' %}
                  </a>
                </td>
              </tr>

            {%- endfor -%}
          </tbody>
        </table>

        <div class="tt-shopcart-btn">
          <div class="col-left">
            <a class="btn-link" href="/"><i class="icon-e-09"></i>{{ 'cart.general.continue_shopping' | t }}</a>
          </div>
          <div class="col-right">
            <a class="btn-link svg-icon-delete-inline" href="/cart/clear">
              {% include 'svg-delete-icon' %}{{ 'cart.general.clear_cart' | t }}
            </a>
            <a class="btn-link" href="#" name="update"><i class="icon-e-17"></i>{{ 'cart.general.update' | t }}</a>
          </div>
        </div>
      </div>

      <div class="tt-shopcart-col">
        <div class="row">
          <div class="col-md-6 {% if item.cart_notes_enable == false and item.cart_shipping_enable == false %}col-lg-6{% else %}col-lg{% endif %}">
            <div class="tt-shopcart-box tt-boredr-large">
              <table class="tt-shopcart-table01">
                <tbody>
                  <tr id="subtotal">
                    <th>{{ 'cart.general.subtotal' | t }}</th>
                    <td>{{ sf_cart_total | money }}</td>
                  </tr>
                  <tr id="tax" style="display:none">
                    <th>{{ 'cart.general.shipping_total' | t }}</th>
                    <td>{{ 0 | money }}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr id="grandtotal">
                    <th>{{ 'cart.general.total' | t }}</th>
                    <td>{{ sf_cart_total | money }}</td>
                  </tr>
                </tfoot>
              </table>

              {% if settings.terms_cond_checkbox_show %}
                <div class="checkbox-group term-conditions-checkbox term-conditions-checkbox-js">
                  <input type="checkbox" id="cart-term-conditions-checkbox" value="1">
                  <label for="cart-term-conditions-checkbox">
                    <span class="check"></span>
                    <span class="box"></span>
                    {{ settings.terms_cond_checkbox_text }}
                  </label>
                </div>
              {% endif %}
              <p class="affirm-as-low-as" data-page-type="cart" data-amount="{{sf_cart_total}}"></p>
              <br>
              <button type="submit" class="btn btn-lg" name="checkout" {% if settings.terms_cond_checkbox_show %}disabled{% endif %}>
                <span class="icon icon-check_circle"></span>{{ 'cart.general.checkout' | t }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
